# Node.js dependencies
node_modules/

# Build files
dist/

# Log files
*.log

# IDE configuration files
.idea/
.vscode/

# Local development environment files
.env
.env.local

# Test files
*.test.js
*.spec.js

# Node.js specific files
package-lock.json
yarn-lock

# macOS files
.DS_Store

# Windows files
Thumbs.db
Desktop.ini
CodeGeeX: Submit